<mat-toolbar color="primary" class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center text-white text-decoration-none">
        <spa-header></spa-header>
    </a>

    <nav class="d-inline-flex mt-3 mt-md-0 ms-md-auto fs-4 pt-2">
        <button mat-button class="me-1">
            <a class="text-white text-decoration-none" href="#">Features</a>
        </button>
        <button mat-button class="me-1">
            <a class="text-white text-decoration-none" href="#">Enterprise</a>
        </button>
        <button mat-button class="me-1">
            <a class="text-white text-decoration-none" href="#">Support</a>
        </button>
        <button mat-button class="me-1">
            <a class="text-white text-decoration-none" href="#">Pricing</a>
        </button>
        <button mat-stroked-button color="green" class="me-1 fs-4 px-2 py-1">
            <a class="text-white text-decoration-none" href="#">Sign Up</a>
        </button>
    </nav>
</mat-toolbar>